body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    font-weight: 800;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2rem;
}

#mainContentContainer {
    display: flex;
    height: 100vh;
}

#sideBar {
    background-color: #f4f4f4;
    padding: 10px;
    border-right: 5px solid #333;
    height: 100%;
    min-width: 15%;
    text-align: center;
    font-size: 1rem;
}

#modalContainer {
    width: 20%;
    height: 40%;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

#modal {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    justify-content: space-around;
    align-items: left;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.modalTitle {
    font-size: 1.2rem;
    text-align: left;
}

.modalImput {
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 3px;
}


.modalImput:focus {
    outline: none;
    border: 2px solid #007dc5;
}

#modalBtnContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
}

.modalBtn {

    width: 40%;
    height: 2rem;
    font-size: 1rem;
}

/* stykizowanie elementu task */
#contentContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    padding: 10px;
    height: 200px;
    min-width: 200px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 10px;

    font-size: 1rem;
    border-bottom: 1px solid #ccc;
}

.lowPriority {
    background-color: #9eff8b;
}

.mediumPriority {
    background-color: #fdff8b;
}

.highPriority {
    background-color: #ff9c8b;
}

.taskDescription {
    font-size: 0.8rem;
    font-weight: 400;
}